<!DOCTYPE html>
<html lang="en" ng-app='PubNative'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PubNative test</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<div class='calendar' calendar></div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/ng-template" id='CalendarTemplate'>
    <div class="calendar-wrapper">
        <div class="calendar-title">
            <div class="calendar-month" ng-bind="calendar.getMonthName()"></div>
            <div class="calendar-weekdays">
                <div class="calendar-weekday">Sun</div>
                <div class="calendar-weekday">Mon</div>
                <div class="calendar-weekday">Tue</div>
                <div class="calendar-weekday">Wed</div>
                <div class="calendar-weekday">Thu</div>
                <div class="calendar-weekday">Fri</div>
                <div class="calendar-weekday">Sat</div>
            </div>
        </div>
        <div class="calendar-weekday"
             ng-repeat="day in calendar.daysInMonth()"
             ng-class="{
                'calendar-weekday_disabled': day.disabled,
                'calendar-weekday_planned': day.events.length,
                'calendar-weekday_active': day === calendar.current
                }"
             ng-bind="day.dayNum"
             ng-click="!day.disabled && calendar.editEvents(day)"
            ></div>
    </div>
    <div class="events">

        <div class="events-add" ng-show="calendar.current">
            <div class="events-title">
                <span ng-show="calendar.current.events.length">Plans on </span>
                <span ng-hide="calendar.current.events.length">Plan something on </span>
                <span ng-bind="calendar.current.dayNum"></span>,&nbsp;
                <span ng-bind="calendar.getMonthName()"></span>
            </div>
            <div class="events-list" ng-repeat='event in calendar.current.events'>
                <span ng-bind="event.text"></span>
                <span class="events-remove" ng-click="calendar.removeEvent(event)">&times;</span>
            </div>
            <form ng-submit='calendar.addEvent()'>
                <input class="events-input_text" type="text" ng-model='calendar.model.text'><!--
                --><button class="events-submit" type="submit">Add</button>
            </form>
        </div>
    </div>
</script>
<script src="app/app.js"></script>
<script src="app/calendar.factory.js"></script>
<script src="app/calendar.directive.js"></script>
</body>
</html>