
.calendar-wrapper {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  vertical-align: top;
}

.calendar-title{
  text-align: center;
  border-bottom: 1px solid;
}

.calendar-weekdays {
  font-size: 0;
}

.calendar-weekday {
  display: inline-block;
  width: 14.285%;
  font-size: 1rem;
  text-align: right;
  padding: .25em .5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(255,255,255,0.75);
  cursor: pointer;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}

.calendar-weekday:hover {
  background: rgba(0,0,0,0.05);
}

.calendar-weekday_disabled {
  color: #ccc;
  cursor: inherit;
}

.calendar-weekday_disabled:hover {
  background: inherit;
}

.calendar-weekday_planned {
  background: #ccc;
}

.calendar-weekday_active {
  background: #444;
  color: #fff;
}
.calendar-weekday_active:hover {
  background: #666;
}

.events {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  vertical-align: top;
  margin: 0 1em;
}

.events-title {
  margin-bottom: .25em;
}

.events-list{
  display: list-item;
  margin-left: 1em;
  margin-bottom: .25em;
}

.events-remove {
  float: right;
  cursor: pointer;
}


.events-input_text, .events-submit {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2em;
  margin-top: .5em;

}
.events-input_text {
  width: 70%;
  outline: none;
}
.events-submit {
  width: 30%;
}

@media (max-width:600px) {
  .calendar-wrapper, .events {
    display: block;
    margin: 0 auto;
  }

  .events {
    text-align: center;
  }

  .events-input_text, .events-submit {
    display: block;
    width: 100%;
    border: 1px solid #eee;
    background: #fff;
  }
}